body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: linear-gradient(-180deg, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
}
.attribution {
  padding-top: 20px;
  text-align: center;
  width: 100%;
}

.attribution_link {
  text-decoration: none;
}

.faq {
  background-color: #fff;
  border-radius: 25px;
  padding: 25px;
  margin: 150px 5% 5% 5%;
  min-width: 320px;
  max-width: 320px;
}

.faq_logo {
  background: url(./images/bg-pattern-mobile.svg) center bottom no-repeat;
  background-color: transparent;
  margin: 0 auto;
  max-width: 300px;
  padding: 0;
  margin-top: -157px;
}

.faq_logo_img {
  margin-left: -13px;
  margin-bottom: 13px;
}

.faq_heading {
  color: hsl(238, 29%, 16%);
  text-align: center;
  padding: 15px 0 15px 0;
}

.faq_details {
  margin: 20px 0 20px;
}
.faq_btn {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.faq_question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  cursor: pointer;
  padding: 15px 15px 15px 0;
  width: 100%;
  text-align: justify;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 15px;
}

.active,
.faq_question:hover {
  background-color: white;
  font-weight: bold;
}

.faq_answer {
  background-color: white;
  display: none;
  overflow: hidden;
}
p {
  font-size: 13px;
  margin-bottom: 15px;
  padding: 0;
}

.hidden {
  display: block;
}

.visible {
  display: none;
}

.hr_line {
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

@media (min-width: 900px) {
  .faq {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 900px;
    padding: 0;
    margin: 0;
  }

  .faq_logo_section {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }

  .faq_section {
    margin: 0 50px 0 0;
    padding: 30px 0;
    max-width: 350px;
    width: 350px;
  }

  .faq_logo {
    display: flex;
    align-items: center;
    background-image: url(./images/illustration-woman-online-desktop.svg),
      url(./images/bg-pattern-desktop.svg);
    background-position: -75px center, -571px -270px;
    background-size: 100%, 200%;
    height: 100%;
    min-width: 300px;
    margin: 0;
    padding: 0;
    width: 525px;
    max-width: 500px;
    position: relative;
  }

  .hidden {
    display: none;
  }

  .visible {
    display: block;
    position: absolute;
    margin-top: 120px;
    left: -80px;
  }

  .faq_heading {
    text-align: left;
  }

  .faq_details {
    margin: 10px 0 0 0 0;
    padding: 0;
  }

  .faq_answer {
    margin: 20px 0 20px 0;
    font-size: 14px;
  }
}
